/*
 * Filename: home.css
 * Created on: September 21, 2024
 * Author: Lucas Araújo <araujolucas@dcc.ufmg.br>
 */

#walletPane, #creditCardPane {
    -fx-background-color: white;
    -fx-border-color: #ccc;
    -fx-border-radius: 4px;
    -fx-background-radius: 10px;
    -fx-padding: 10px;
    -fx-min-width: 0;
    -fx-min-height: 0;
}

#walletPaneTitle, #creditCardPaneTitle {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: #333;
    -fx-padding: 5px;
}

.wallet-item {
    -fx-background-color: linear-gradient(to bottom right, #34c759, #4cd964);
    -fx-padding: 15px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-border-color: #000;
    -fx-border-width: 1px;
    -fx-border-style: solid;
    -fx-margin-bottom: 20px;
    -fx-pref-width: 100%;
    -fx-pref-height: 100%;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 5, 0.0, 0, 1);
}

.wallet-item Label {
    -fx-text-fill: white;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

.wallet-item .balance-label {
    -fx-font-size: 10px;
    -fx-opacity: 0.8;
}

.credit-card-item {
    -fx-background-color: linear-gradient(to bottom right, #4a90e2, #9013fe);
    -fx-padding: 15px;
    -fx-border-color: #000;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-border-width: 1px;
    -fx-border-style: solid;
    -fx-margin-bottom: 20px;
    -fx-pref-width: 100%;
    -fx-pref-height: 100%;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 5, 0.0, 0, 1);
}

.credit-card-item Label {
    -fx-text-fill: white;
}
