[Desktop Entry]
Version=1.0
Name=Moinex
Comment=Aplicativo Moinex
Exec=sh -c "$HOME/.moinex/run.sh"
Icon=moinex-icon
Terminal=false
Type=Application
Categories=Utility;
