/*
 * Filename: credit_card.css
 * Created on: September 21, 2024
 * Author: Lucas Araújo <araujolucas@dcc.ufmg.br>
 */

.description-label {
  -fx-font-size: 13px;
  -fx-font-weight: bold;
  -fx-text-fill: #333;
}

.foreseen-label {
  -fx-font-size: 10px;
  -fx-text-fill: #333;
}
