/*
 * Filename: wallet.css
 * Created on: September 21, 2024
 * Author: Lucas Araújo <araujolucas@dcc.ufmg.br>
 */

#totalBalancePane {
  -fx-background-color: white;
  -fx-border-color: #ccc;
  -fx-border-radius: 4px;
  -fx-background-radius: 10px;
  -fx-padding: 10px;
  -fx-min-width: 0;
  -fx-min-height: 0;
}

#totalBalancePaneTitle {
  -fx-font-size: 15px;
  -fx-font-weight: bold;
  -fx-padding: 5px;
}

.total-balance-wallets-label {
  -fx-font-size: 11px;
  -fx-font-style: italic;
  -fx-text-fill: grey;
  -fx-padding: 5px;
}

.default-color0.chart-bar {
  -fx-bar-fill: #dc3545;
}

.default-color1.chart-bar {
  -fx-bar-fill: #28a745;
}

.chart-plot-background {
  -fx-background-color: transparent;
}

.axis {
  -fx-border-color: transparent;
  -fx-tick-mark-visible: false;
  -fx-minor-tick-visible: false;
}

.chart-legend {
  -fx-background-color: transparent;
  -fx-font-size: 12px;
  -fx-text-fill: #555;
}

.check-box {
    -fx-font-size: 12px; /* Tamanho da fonte */
    -fx-padding: 5px; /* Espaçamento interno */
    -fx-text-fill: black; /* Cor do texto */
}

.check-box:selected {
    -fx-text-fill: black; /* Cor do texto ao selecionar */
}

.check-box:hover {
    -fx-background-color: #e0e0e0; /* Cor ao passar o mouse */
}
